/* Container (poora section) */
.container {
    width: 150px;
    top: 400px;
    left: 20px;
    position: absolute;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    
  }
  
  /* Grid layout */
  .cards {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  
  /* Individual Card */
  .card {
    /* border: 3px solid rgb(26, 2, 58); */
    backdrop-filter: blur(2px);
    color: #fff;
    background:whitesmoke;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  /* Hover effect */
  .card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }
  
  /* Title */
  .card h3 {
    margin-top: 5px;
    border-bottom:3px solid burlywood;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #110127;
  }
  
  /* Description */
  .card .desc {

    background-size: cover;
    background-position: center;
    height: 100px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 2px;
    
  }

  
  /* Button */
  .btn {
    display: flex;
    justify-content: center;
    margin: 10px 30px 5px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    border: 2px solid rgb(151, 10, 151);
    background: linear-gradient(135deg, #4f16d3e1, #111011);
    color: #f5f2f2;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background: linear-gradient(135deg, #79ece3, #3e0dc4);
  }
  
  

  /* 🔥 Responsive Design */
  
  /* Tablet */
  @media (max-width: 992px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Mobile */
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    .cards {
      grid-template-columns: 1fr;
    }
  }