.search-box {
    width: 300px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(8px);
    color:black;
    outline: none;
  }
  
  .search-box::placeholder {
    color: #333;
  }