@media (max-width: 600px) {

    .navbar {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 10px;
      gap: 10px;
    }
  
    h2 {
      margin-top: 2px;  
      justify-self: center;
      font-size: 22px;
    }
  
    .logo img {
      width: 140px;
      height: auto;
    }
  
    .menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
    }
  
    .search-box {
      width: 100%;
    }
  
    .login {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .hero {
      flex-direction: column;
      padding: 20px;
      padding-left: 20px;
      height: auto;
      text-align: center;
    }
  
    .hero img {
      max-width: 100%;
      margin-top: 20px;
    }
  }

  .container {
    position: absolute;
  }

  @media (max-width: 600px) {
    .container {
      position: static;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
    }
  
    .cards {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  
    .card .desc {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .sidebar.open {
      width: 180px;
    }
  }

  @media (max-width: 600px) {
    .footer-container {
      grid-template-columns: 1fr;
      margin: 10px;
    }
  }